<% @guestbooks.each do |guestbook| %>
  <div><b>Visitor's Name</b></div>
  <br />
  <div>
    <span><%=h guestbook.title %></span>
    <span><%=h guestbook.firstname %></span>
    <span><%=h guestbook.lastname %></span>
  </div>
  <br />
  <br />
  <div><b>Visitor's Email Address</b></div>
  <br />
  <div><%=h guestbook.email %></div>
  <br />
  <br />
  <div><b>Visitor's Comment</b></div>
  <br />
  <div><%=h guestbook.comment %></div>
  <br />
  <div>
    <span class="pagination"><%= link_to 'Edit', edit_guestbook_path(guestbook) %></span>
    <span class="pagination"><%= link_to 'Destroy', guestbook, :confirm => 'Are you sure?', :method => :delete %></span>
  </div>
<% end %>
<br />

<div class="pagination">
  <%= will_paginate @guestbooks %>
</div>

<div class="return_link">
  <%= link_to 'Back to the donate page', donate_path %>
</div>

